.get-review {
  flex: 1;
  margin-bottom: 1rem !important;
  min-height: 200px;
  border: none !important;
  box-shadow:
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.2) 0px 2px 0px -2px,
    rgba(0, 0, 0, 0.12) 0px 0px 4px 0px;
}

.get-review .ant-card-meta-description {
  font-size: 16px;
}

.get-review .ant-card-extra {
  padding: 13px 0;
}
