.placeholder {
  border: 1px solid #e8e8e8;
}

.avatar {
  background: transparent;
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.cropper {
  background-color: white;
  position: absolute;
  overflow: hidden;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.animatedBackground {
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 5%, #dddddd 20%, #eeeeee 40%);
  background-size: 1000px 200px;
  flex: 1;
  position: relative;
}

.backgroundMasker {
  background: #fff;
  position: absolute;
}

/* Every thing below this is just positioning */

.backgroundMasker.headerTop,
.backgroundMasker.headerBottom,
.backgroundMasker.subheaderBottom {
  top: 0;
  left: 40px;
  right: 0;
  height: 10px;
}

.backgroundMasker.headerLeft,
.backgroundMasker.subheaderLeft,
.backgroundMasker.headerRight,
.backgroundMasker.subheaderRight {
  top: 10%;
  left: 40px;
  height: 8px;
  width: 10px;
}

.backgroundMasker.headerBottom {
  top: 18%;
  height: 6px;
}

.backgroundMasker.subheaderLeft,
.backgroundMasker.subheaderRight {
  top: 24%;
  height: 6px;
}

.backgroundMasker.headerRight,
.backgroundMasker.subheaderRight {
  width: auto;
  left: 300px;
  right: 0;
}

.backgroundMasker.subheaderRight {
  left: 230px;
}

.backgroundMasker.subheaderBottom {
  top: 30%;
  height: 10px;
}

.backgroundMasker.contentTop,
.backgroundMasker.contentSecondLine,
.backgroundMasker.contentThirdLine,
.backgroundMasker.contentSecondEnd,
.backgroundMasker.contentThirdEnd,
.backgroundMasker.contentFirstEnd {
  top: 40%;
  left: 0;
  right: 0;
  height: 6px;
}

.backgroundMasker.contentTop {
  height: 20px;
}

.backgroundMasker.contentFirstEnd,
.backgroundMasker.contentSecondEnd,
.backgroundMasker.contentThirdEnd {
  width: auto;
  left: 380px;
  right: 0;
  top: 60%;
  height: 8px;
}

.backgroundMasker.contentSecondLine {
  top: 68%;
}

.backgroundMasker.contentSecondEnd {
  left: 420px;
  top: 74%;
}

.backgroundMasker.contentThirdLine {
  top: 82%;
}

.backgroundMasker.contentThirdEnd {
  left: 300px;
  top: 88%;
}
