.home {
  margin-top: 1rem;
}

.not-found {
  font-size: 16px;
  text-align: right;
}

.media {
  display: flex;
}

.media > :first-child {
  margin-right: 1rem;
}

.jumbotron {
  background-color: #777;
  font-size: 32px;
  font-weight: bold;
  color: transparent;
  margin: 0;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.description {
  font-size: 16px;
  margin-bottom: 1.5rem;
  text-align: center;
}
